*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}

body{
  background:#f1f5f9;
}

.home-container,
.login-container,
.admin-container,
.search-container{

  width:90%;
  max-width:1000px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:15px;
}

.home-buttons{
  margin-top:30px;
  display:flex;
  gap:20px;
}

.home-btn{
  padding:15px 20px;
  color:white;
  text-decoration:none;
  border-radius:10px;
}

.green{
  background:green;
}

.yellow{
  background:orange;
}

form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin-top:20px;
}

input,
select,
button{

  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
}

button{
  background:green;
  color:white;
  border:none;
  cursor:pointer;
}

table{
  width:100%;
  margin-top:30px;
  border-collapse:collapse;
}

th,
td{
  border:1px solid #ddd;
  padding:12px;
}
